/* index.module.css */
/* css module for home page */
.welcomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-image: url("/images/pet-background-vector.jpg");
    background-size: cover;
    background-position: center;
}

.welcomeMsg {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.titleMsg {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #000000;

}

/* help txt stand out more */
.titleBackground {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 8px;

}

.siteBrief {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.generateLinkBtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    background-color: #ff8c00;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.generateLinkBtn:hover {
    background-color: #e07b00;

}